/* write your override styles here */
#wall .tag-1{
    display: none;
}

body{
    background-size: contain;
}
#wall #tag-4{
    z-index: 6;
}

.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 622px;
}
div#wall div.parent div:last-child div#tag-6 {
    z-index: 5;
   
  }
  
body div#wall div.parent div > #tag-7.slick {
    z-index: 2;
}
  